.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #333;
  }
  
  .errorContainer h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .errorContainer p {
    margin-bottom: 1em;
  }
  